# --- CONFIGURATION FOR PRISMA + POSTGRESQL (VERCEL) ---

DATABASE_SOURCE=prisma

# Database URL
DATABASE_URL="postgresql://postgres.gqjinckhihdfrpuuzoks:Taklamakan%40123@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=10&pool_timeout=60"

# Vercel KV Storage (if used by the Prisma version)
KV_REST_API_READ_ONLY_TOKEN=AlBQAAIgcDHj4Ehs3qMoB-MQ2Q9oI_vTZNvO_C1Gj9cBb5cxQbBiYA
KV_REST_API_TOKEN=AVBQAAIjcDE3NzRlMTRlZmVjMzY0ZTBjYjQ0NzcxZTVjZjIxMTYzZHAxMA
KV_REST_API_URL=https://trusted-poodle-20560.upstash.io
KV_URL=rediss://default:AVBQAAIjcDE3NzRlMTRlZmVjMzY0ZTBjYjQ0NzcxZTVjZjIxMTYzZHAxMA@trusted-poodle-20560.upstash.io:6379

# NextAuth Configuration
NEXTAUTH_SECRET=8p9fQpe3U5XibeVLmzAaLFckDqUmL7Ct
NEXTAUTH_URL=http://localhost:3000

# Vendor Credentials
NETWORK_VENDOR_PASSWORD=password
BIOMETRIC_VENDOR_PASSWORD=password
TELECOM_PASSWORD=password
ETL_PASSWORD=password

# Resend API Key
RESEND_API_KEY=re_8Mb3uSpN_CqzYrCMhoCPt1F2pbbY7oGHy

# Email Configuration
SENDER_EMAIL="IMS Alert <rakesh.ojha@saildsp.co.in>"
SECURITY_CONTACT_NAME="Mr. Rakesh Ojha"
SECURITY_CONTACT_MOBILE=9434792593