# --- CONFIGURATION FOR ORACLE (OFFICE RHEL SERVER) ---

DATABASE_SOURCE=oracle

# Oracle Database Credentials
ORACLE_USER=your_oracle_username
ORACLE_PASSWORD=your_oracle_password
ORACLE_CONNECT_STRING=your_rhel_server_ip:1521/your_oracle_service_name

# NextAuth Configuration
NEXTAUTH_SECRET=8p9fQpe3U5XibeVLmzAaLFckDqUmL7Ct
NEXTAUTH_URL=http://localhost:3000

# Vendor Credentials
NETWORK_VENDOR_PASSWORD=password
BIOMETRIC_VENDOR_PASSWORD=password
TELECOM_PASSWORD=password
ETL_PASSWORD=password

# Resend API Key
RESEND_API_KEY=re_8Mb3uSpN_CqzYrCMhoCPt1F2pbbY7oGHy

# Email Configuration
SENDER_EMAIL="IMS Alert <rakesh.ojha@saildsp.co.in>"
SECURITY_CONTACT_NAME="Mr. Rakesh Ojha"
SECURITY_CONTACT_MOBILE=9434792593